<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Trang chủ </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-sm navbar-light justify-content-between">
                        <div class="header-logo">
                            <div class="img-logo">
                                <a class="navbar-brand" href="#"><img src="" alt="Logo"></a>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbars">
                            <ul class="navbar-nav ml-auto ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Trang chủ</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">Khai báo thông tin</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Tìm ứng viên</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Tin tuyển dụng</a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="">Đăng tin tuyển dụng</a></li>
                                        <li><a href="">Hồ sơ ứng tuyển</a></li>
                                        <li><a href="">Danh sách tin tuyển dụng</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Tài khoản</a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="">
                                            <a class="dropdown-info"><i>Mã NTD: <span class="text-primary"></span></i></a>
                                        </li>
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li><a href="">Thông tin cá nhân</a></li>
                                        <li><a href="">Thông tin công ty</a></li>
                                        <li><a href="">Đổi mật khẩu</a></li>
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li><a href="">Thoát</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- /header -->
    <main id="main" class="main">
        <div class="container">
            <div class="box">
                <div class="box-body">
                    <div class="header">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="title">Thống kê</h4>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="top_box">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="text">Tổng số ứng viên</p>
                                            <p class="number gray">123456</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="text">Cập nhật gần nhất</p>
                                            <p class="number lastest_update">123456</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="text">Cập nhật hôm nay</p>
                                            <p class="number update">123456</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bot_box">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="candidate">
                                                <p class="text">Ứng viên mới</p>
                                                <div class="_avatar">
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img3.jpg" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img3.jpg" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img3.jpg" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="_item">
                                                        <a href="" class=""><img src="images/img3.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <a href="" class="search_link"><i class="fas fa-search"></i>Tìm kiếm ứng viên</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.js"></script>
    <script>
        $('.selectDrop').select2();


        $('._avatar').slick({
            dots: false,
            autoplay: true,
            infinite: true,
            arrows: false,
            slidesToShow: 10,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 1200,
                settings: {
                    slidesToShow: 9,
                    slidesToScroll: 1,
                }
            }, {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 7,
                    slidesToScroll: 1,
                }
            }, {
                breakpoint: 768,
                settings: {
                    slidesToShow: 8,
                    slidesToScroll: 1
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1
                }
            }, {
                breakpoint: 400,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 1
                }
            }]
        });

    </script>
</body>

</html>
