<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Trang chủ </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-sm navbar-light justify-content-between">
                        <div class="header-logo">
                            <div class="img-logo">
                                <a class="navbar-brand" href="#"><img src="" alt="Logo"></a>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbars">
                            <ul class="navbar-nav ml-auto align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Mẫu CV</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Việc làm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Công ty</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="padding: 14px;">
                                        <img src="https://graph.facebook.com/382836772074776/picture?type=large" alt="Avatar">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><span style="display: block; padding: 3px 20px; clear: both; font-weight: 400; line-height: 1.42857143; color: #333; white-space: nowrap;">Mã ứng viên: <strong></strong></span></li>
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li><a href="">Quản lý CV</a></li>
                                        <li><a href="">Cập nhật Hồ sơ</a></li>
                                        <li><a href="">Cài đặt bảo mật</a></li>
                                        <li><a href="">Cài đặt thông báo email</a></li>
                                        <li><a href="">Thay đổi mật khẩu</a></li>
                                        <li><a href="">Trợ giúp</a></li>
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li><a href="">Thoát tài khoản</a></li>
                                    </ul>
                                </li>
                                <li id="recruitment">
                                    <a href="" target="_blank">
                                        <span class="text-white font-weight-bold">NHÀ TUYỂN DỤNG</span><br>
                                        <span class="text-white" style="font-weight: normal;">Đăng tuyển &amp; Tìm hồ sơ</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- /header -->
    <main class="main">
        <div class="box_search">
            <div class="container">
                <form class="form" action="" method="get" accept-charset="utf-8">
                    <div class="row">
                        <div class="col-md-10 search-ipt">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div class="box_item">
                                        <span class="icon"><i class="fas fa-search"></i></span>
                                        <input type="text" class="form-control" placeholder="Tên công việc, vị trí bạn muốn ứng tuyển">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="box_item">
                                        <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                                        <select class="selectDrop" id="city" name="state">
                                            <option value="">Tất cả địa điểm</option>
                                            <option value="1">Hà Nội</option>
                                            <option value="2">Hồ Chí Minh</option>
                                            <option value="3">Bình Dương</option>
                                            <option value="4">Bắc Ninh</option>
                                            <option value="5">Đồng Nai</option>
                                            <option value="6">Hưng Yên</option>
                                            <option value="7">Hải Dương</option>
                                            <option value="8">Đà Nẵng</option>
                                            <option value="9">Hải Phòng</option>
                                            <option value="10">An Giang</option>
                                            <option value="11">Bà Rịa-Vũng Tàu</option>
                                            <option value="12">Bắc Giang</option>
                                            <option value="13">Bắc Kạn</option>
                                            <option value="14">Bạc Liêu</option>
                                            <option value="15">Bến Tre</option>
                                            <option value="16">Bình Định</option>
                                            <option value="17">Bình Phước</option>
                                            <option value="18">Bình Thuận</option>
                                            <option value="19">Cà Mau</option>
                                            <option value="20">Cần Thơ</option>
                                            <option value="21">Cao Bằng</option>
                                            <option value="22">Cửu Long</option>
                                            <option value="23">Đắc Lắc</option>
                                            <option value="24">Đắc Nông</option>
                                            <option value="25">Điện Biên</option>
                                            <option value="26">Đồng Tháp</option>
                                            <option value="27">Gia Lai</option>
                                            <option value="28">Hà Giang</option>
                                            <option value="29">Hà Nam</option>
                                            <option value="30">Hà Tĩnh</option>
                                            <option value="31">Hậu Giang</option>
                                            <option value="32">Hoà Bình</option>
                                            <option value="33">Khánh Hoà</option>
                                            <option value="34">Kiên Giang</option>
                                            <option value="35">Kon Tum</option>
                                            <option value="36">Lai Châu</option>
                                            <option value="37">Lâm Đồng</option>
                                            <option value="38">Lạng Sơn</option>
                                            <option value="39">Lào Cai</option>
                                            <option value="40">Long An</option>
                                            <option value="41">Miền Bắc</option>
                                            <option value="42">Miền Nam</option>
                                            <option value="43">Miền Trung</option>
                                            <option value="44">Nam Định</option>
                                            <option value="45">Nghệ An</option>
                                            <option value="46">Ninh Bình</option>
                                            <option value="47">Ninh Thuận</option>
                                            <option value="48">Phú Thọ</option>
                                            <option value="49">Phú Yên</option>
                                            <option value="50">Quảng Bình</option>
                                            <option value="51">Quảng Nam</option>
                                            <option value="52">Quảng Ngãi</option>
                                            <option value="53">Quảng Ninh</option>
                                            <option value="54">Quảng Trị</option>
                                            <option value="55">Sóc Trăng</option>
                                            <option value="56">Sơn La</option>
                                            <option value="57">Tây Ninh</option>
                                            <option value="58">Thái Bình</option>
                                            <option value="59">Thái Nguyên</option>
                                            <option value="60">Thanh Hoá</option>
                                            <option value="61">Thừa Thiên Huế</option>
                                            <option value="62">Tiền Giang</option>
                                            <option value="63">Toàn Quốc</option>
                                            <option value="64">Trà Vinh</option>
                                            <option value="65">Tuyên Quang</option>
                                            <option value="66">Vĩnh Long</option>
                                            <option value="67">Vĩnh Phúc</option>
                                            <option value="68">Yên Bái</option>
                                            <option value="100">Nước Ngoài</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group  col-md-3">
                                    <div class="box_item">
                                        <span class="icon"><i class="fas fa-tools"></i></span>
                                        <select class="selectDrop" id="category" name="state">
                                            <option value="">Tất cả ngành nghề</option>
                                            <option value="10001">Nhân viên kinh doanh/Bán hàng</option>
                                            <option value="10003">Biên/Phiên dịch</option>
                                            <option value="10004">Báo chí/Truyền hình</option>
                                            <option value="10006">Bảo hiểm</option>
                                            <option value="10007">Bất động sản</option>
                                            <option value="10011">Du lịch</option>
                                            <option value="10014">Dịch vụ khách hàng</option>
                                            <option value="10017">Giáo dục/Đào tạo</option>
                                            <option value="10023">Hành chính/Văn phòng</option>
                                            <option value="10025">IT Phần cứng/Mạng</option>
                                            <option value="10026">IT phần mềm</option>
                                            <option value="10027">Khách sạn/Nhà hàng</option>
                                            <option value="10028">Kế toán/Kiểm toán</option>
                                            <option value="10029">Marketing/ Quảng cáo</option>
                                            <option value="10033">Ngân hàng/ Tài chính</option>
                                            <option value="10034">Nhân sự</option>
                                            <option value="10036">Luật/Pháp lý</option>
                                            <option value="10037">Quản lý chất lượng (QA/QC)</option>
                                            <option value="10038">Quản lý điều hành</option>
                                            <option value="10039">Thiết kế đồ họa</option>
                                            <option value="10042">Thời trang</option>
                                            <option value="10045">Tư vấn</option>
                                            <option value="10047">Vận tải/Kho vận</option>
                                            <option value="10049">Xuất nhập khẩu</option>
                                            <option value="10050">Xây dựng</option>
                                            <option value="10051">Y tế/Dược</option>
                                            <option value="11000">Ngành nghề khác</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 search-sbmit">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <button class="form-control btn btn-success btn-block" type="submit"><i class="fas fa-search"></i> Tìm </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $('.selectDrop').select2();

    </script>
</body>

</html>
