<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Hồ sơ </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-sm navbar-light justify-content-between">
                        <div class="header-logo">
                            <div class="img-logo">
                                <a class="navbar-brand" href="#"><img src="" alt="Logo"></a>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbars">
                            <ul class="navbar-nav ml-auto align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Mẫu CV</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Việc làm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Công ty</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="padding: 14px;">
                                        <img src="https://graph.facebook.com/382836772074776/picture?type=large" alt="Avatar">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><span style="display: block; padding: 3px 20px; clear: both; font-weight: 400; line-height: 1.42857143; color: #333; white-space: nowrap;">Mã ứng viên: <strong></strong></span></li>
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li><a href="">Quản lý CV</a></li>
                                        <li><a href="">Cập nhật Hồ sơ</a></li>
                                        <li><a href="">Cài đặt bảo mật</a></li>
                                        <li><a href="">Cài đặt thông báo email</a></li>
                                        <li><a href="">Thay đổi mật khẩu</a></li>
                                        <li><a href="">Trợ giúp</a></li>
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li><a href="">Thoát tài khoản</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- /header -->

    <main id="main" class="main">
        <div class="container">
            <div class="update_info">
                <form class="form" action="" method="get" accept-charset="utf-8">
                    <div class="head_form">
                        <h4 class="title">Bạn vui lòng hoàn thiện các thông tin dưới đây</h4>
                    </div>

                    <div class="form-group row ">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 s_pad">
                                    <label for="" class="">Tên tài khoản (*):</label>
                                </div>
                                <div class="col-sm-8 s_pad">
                                    <input type="email" class="form-control" placeholder="Tên tài khoản" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 s_pad">
                                    <label for="" class="">Email (*):</label>
                                </div>
                                <div class="col-sm-8 s_pad">
                                    <input type="email" class="form-control" placeholder="Email" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 s_pad">
                                    <label for="" class="">Số điện thoại (*):</label>
                                </div>
                                <div class="col-sm-8 s_pad">
                                    <input type="email" class="form-control" placeholder="Số điện thoại" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-custom btn-save">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
